@use "variables";
@use "mixins";
#anuncios{
    padding: 50px 0;
}
.glider{
    //firefox
    scrollbar-width: none;
    position: relative;
}
.glider-prev,.glider-next{
    border-radius: 50%;
    padding: .5rem !important;
    border: none;
    cursor: pointer;
    color: variables.$txt-primary !important;
    &:hover{
        opacity: .5;
    }
}
.glider-prev{
    left: 0 !important;
}
.glider-next{
    right: 0 !important;
}