@use "variables";
@use "mixins";
#contacta-biblioteca{
    padding: 50px 0;
}
.biblioteca__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >div{
        width: 100%;

        @include mixins.md{
            width: calc(50% - 2rem);
        }
        @include mixins.lg{
            width: calc(33.33% - 2rem);
        }
        @include mixins.xl{
            width: calc(25% - 2rem);
        }
    }
    h3{
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: variables.$bg-primary;
    }
    p{
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: variables.$txt-secondary;
    }
}