@use "variables";
@use "mixins.scss";
footer{
    width: 100%;
    background-color: variables.$bg-secondary;
    margin-top: 50px;
}
.footer{
    padding: 1rem;
}
.footer-content{
    display: flex;
    flex-direction: column;
    @include mixins.md{
        flex-direction: row;
    }
    .navegacion{
        width: 100%;
        max-width: 100%;
        .buscador{
            padding: 2rem 1rem;
            border-bottom: 1px solid variables.$white;
           
            form{
                display: flex;
                @include mixins.md{
                    width: 30%;
                }
                input{
                    padding: 0 10px;
                    max-width: 100%;
                    width: 100%;
                    &:focus-visible{
                        outline: none;
                    }
                }
                button{
                    padding: 5px;
                    background-color: inherit;
                    border: none;
                    color: variables.$white;
                    &:hover{
                        color: #EF4429;
                        cursor: pointer;
                    }
                }
            }
        }
        .enlaces{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            color: variables.$white;
            gap: 1rem;

            @include mixins.md{
                flex-direction: row;
            }
            &>p{
                margin-bottom: 1rem;
                font-size: 12px;
                line-height: 2.4em;
                width: 100%;
            }
            &>ul{
                font-size: 11px;
                width: 100%;
                li{
                    margin-bottom: 12px;
                    :hover{
                        color: #EF4429;
                    }
                }
            }
            a{
                color: variables.$white;
            }
            
        }
    }
    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        @include mixins.md{
            border-left: 1px solid variables.$white;
            flex-direction: column;
            width: 90px;
        }
        span{
            width: 2*variables.$icon-size;
            height: 2*variables.$icon-size;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            a{
                font-size: variables.$icon-size;
                color: variables.$white;
                &:hover{
                    opacity: .5;
                }
            }
        }
    }
}
.footer-copy{
    width: 100%;
    padding: 1rem;
    color: variables.$white;
    font-size: 12px;
    line-height: 1;
}