@use "variables";
@use "mixins";

.glider{
    //firefox
    scrollbar-width: none;
    position: relative;
    .glider-item{
        position: relative;
    }
}
.glider-slide img{
    width: 100%;
}
.glider-item{
    margin: 0 10px;
}
.glider-prev,.glider-next{
    border-radius: 50%;
    padding: .5rem !important;
    border: none;
    cursor: pointer;
    color: variables.$txt-primary !important;
    &:hover{
        opacity: .5;
    }
}
.glider-prev{
    left: 0 !important;
}
.glider-next{
    right: 0 !important;
}