@use "mixins.scss";
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    li{
        list-style: none;
    }
}
select{
    border:none;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    width: 100%;
    &:hover{
        cursor: pointer;
    }
}
input{
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    width: 100%;
    &:focus{
        outline: none;
    }

}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    @include mixins.sm {
        max-width: 540px;
    }
    @include mixins.md {
        max-width: 720px;
    }
    @include mixins.lg {
        max-width: 960px;
    }
    @include mixins.xl {
        max-width: 1140px;
    }
    @include mixins.xxl {
        max-width: 1320px;
    }
}
.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.input-text{
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #495057;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    &:focus{
        outline: none;
    }
}