//bootstrap variables
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$txt-primary:#bd1714;
$txt-secondary:#6c757d;
$txt-p-color:#4A4A49;
$bg-primary:#bd1714;
$bg-secondary:#202020;
$bg-tertiary:#EBEAEA;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
//icons
$icon-size: 1.5rem;

