<article id="blog-sibus">
    <h2>Blog del Sibus</h2>
    <ul>
        <li>
            <a target="_blank" href="http://bibliotecacentralusmp.blogspot.com/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Biblioteca Central - SIBUS
            </a>
        </li>
        <li>
            <a target="_blank" href="https://bibliofiausmp.blogspot.com/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Facultad de Ingeniería y Arquitectura
            </a>
        </li>
        <li>
            <a target="_blank" href="http://bibliotecafoe-usmp.blogspot.com/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Facultad de Obstetricia y Enfermería
            </a>
        </li>
        <li>
            <a target="_blank" href="http://bibliotecadeodontologiausmp.wordpress.com/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Facultad de Odontología
            </a>
        </li>
        <li>
            <a target="_blank" href="http://bibliotecafnusmp.blogspot.com/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Filial Norte
            </a>
        </li>
        <li>
            <a target="_blank" href="http://www.medicina.usmp.edu.pe/biblioteca/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Facultad de Medicina
            </a>
        </li>
        <li>
            <a target="_blank" href="http://biblioteca-derechousmp.blogspot.com/">
                <i class="fa-solid fa-up-right-from-square"></i>
                Facultad de Derecho
            </a>
        </li>
    </ul>
</article>