<article id="guias-manuales">
    <h2>Gu&iacute;as y Manuales</h2>
    <p>Ponemos a disposición de nuestros usuarios las siguientes herramientas de consulta:</p>
    <h3>Guias</h3>
    <ul>
        <li>
            <h4>Anexo: Pautas para la presentaci&oacute;n de tesis</h4>
            <p>Ejemplos</p>
            <a href="https://sibus.usmp.edu.pe/descargas/anexos_final_tesis.doc" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>Gu&iacute;a para la redacci&oacute;n de referencias bibliogr&aacute;ficas</h4>
            <p>Esta gu&iacute;a tiene como finalidad normalizar la presentaci&oacute;n de las referencias
                bibliogr&aacute;s. Para la redacci&oacute;n se ha tomado en cuenta las normas existentes en diversas
                instituciones a nivel nacional e internacional</p>
            <a href="https://sibus.usmp.edu.pe/descargas/guia_para_citar.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>ESTILO VANCOUVER GU&Iacute;A PARA CITAS Y REFERENCIAS BIBLIOGR&Aacute;FICAS</h4>
            <p>En el &aacute;mbito acad&eacute;mico existen diferentes normativas para la elaboraci&oacute;n y
                presentaci&oacute;n de un trabajo acad&eacute;mico. En el &aacute;mbito de las ciencias de la salud el
                utilizado es el Estilo Vancouver, el cual presentamos en esta gu&iacute;a.</p>
            <a href="https://sibus.usmp.edu.pe/descargas/guia_vancouver.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>

    </ul>
    <h3>Manuales</h3>
    <ul>
        <li>
            <h4>EBSCO</h4>
            <p> Manual de b&uacute;squeda de las bases de datos en línea </p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_ebsco.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>PROQUEST CENTRAL</h4>
            <p> Manual de b&uacute;squeda de las bases de datos en l&iacute;nea</p>
            <a href="https://sibus.usmp.edu.pe/descargas/proquest_central.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>REFWORKS</h4>
            <p>Gestor de referencias bibliogr&aacute;ficas.</p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_refworks.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>DATATRADE</h4>
            <p> Datatrade brinda asesoria y servicios de informacion en comercio exterior</p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_datatrade.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>SPIJ</h4>
            <p>Base de datos que proporciona informaci&oacute;n jur&iacute;dica hist&oacute;rica y actualizada
                sistematizada por el Ministerio de Justicia. Cons&uacute;ltela en las salas audiovisuales y bases de
                datos </p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_spij.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>MULTILEGIS</h4>
            <p>Multilegis un completo y actualizado sistema de informaci&oacute;n jur&iacute;dica.</p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_multileguis.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>E-LIBRO</h4>
            <p>Manual de la base de datos E-libro</p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_libro.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
        <li>
            <h4>SERVICIOS Y RECURSOS DE LA BIBLIOTECA CENTRAL</h4>
            <p>Servicios y recursos de la Biblioteca Central USMP.</p>
            <a href="https://sibus.usmp.edu.pe/descargas/base_biblioteca.pdf" target="_blank">
                <i class="fa-solid fa-download"></i>
                Descargar
            </a>
        </li>
    </ul>
</article>