<article id="martino">
    <h2>Espacio de Martino</h2>
    <div class="martino_imagen">
        <img src="assets/img/intereses/martino_graduacion.png" alt="">
    </div>
    <div>
        <h3>Historia</h3>
        <p>A mediados de 2007, el Sistema de Bibliotecas de la Universidad de San Mart&iacute;n de Porres (SIBUS)
            requer&iacute;a atraer visitas hacia su reci&eacute;n inaugurado portal. En respuesta a eso, la Oficina de
            Dise&ntilde;o y Multimedia de la Facultad de Ciencias de la Comunicaci&oacute;n, Turismo y Psicolog&iacute;a
            y el SIBUS idearon una estrategia de comunicaci&oacute;n por Internet. El plan consist&iacute;a en la
            elecci&oacute;n de un personaje que representara el gusto por los libros y la vocaci&oacute;n de servicio
            que caracteriza a los buenos bibliotecarios. De esa manera, me propusieron a m&iacute;, un rat&oacute;n de
            biblioteca.</p>
    </div>
    <div>
        <h3>Elecci&oacute;n</h3>
        <p>Convertirme en la mascota de la biblioteca no fue f&aacute;cil. Cuando llegu&eacute; a las oficinas de la
            Universidad encontr&eacute; a otros dos personajes interesantes: una chica y un robot.. Fue as&iacute;
            que se realiz&oacute; una elecci&oacute;n democr&aacute;tica entre los usuarios para elegir un ganador y
            para que le dieran un nombre. El voto fue voluntario y se realiz&oacute; por Internet a trav&eacute;s de
            este portal. Afortunadamente, participaron 832 usuarios y 570 votaron por m&iacute;. Gracias a ello, fui
            el &uacute;nico de los tres personajes que recibi&oacute; un nombre y, seg&uacute;n me cuentan los
            organizadores, mi identidad fue el resultado de la propuesta de varios usuarios que coincidieron en
            darme el nombre que llevo. Gracias a ustedes estoy orgulloso de llamarme Martino y ser la mascota del
            Sistema de Bibliotecas USMP.bliotecas USMP.</p>
    </div>
    <div>
        <h3>Presentaci&oacute;n</h3>
        <p>D&iacute;as despu&eacute;s me presentaron a la comunidad universitaria en una ceremonia muy importante en
            la que fui nombrado Gestor de Informaci&oacute;n. Es por eso que siempre estoy en l&iacute;nea para
            ayudarte a resolver cualquier problema que tengas sobre consultas o reservas de libros. Desde entonces
            llevo el compromiso de las promesas que hice durante mi campa&ntilde;a.</p>
        <ul class="list">
            <li>Vota por m&iacute; y sabr&aacute;s todo sobre el SIBUS.</li>
            <li>Prometo mejores servicios para la investigaci&oacute;n y la cultura.</li>
            <li>Conmigo nunca te faltar&aacute;n libros para tus investigaciones.</li>
        </ul>
    </div>
</article>