<article id="novedades">
    <h2>Novedades</h2>
    <ul>
        <li>
            <h4>COMEX PERÚ</h4>
            <p>Revista de negocios internacionales, portal para la investigación, formación y gestión del conocimiento
                en negocios internacionales.</p>
            <a href="" target="_blank">
                <i class="fa-solid fa-globe"></i>
                Ingrese aquí</a>
        </li>
        <li>
            <h4>
                Sage journals
            </h4>
            <p>
                Artículos de investigación Sage journals es el quinto editor de revistas en el mundo y
                multidisciplinaria que incluye más de 1000 revistas que abarcan el Humanidades, Ciencias Sociales, y
                Ciencia, Tecnología y Medicina
            </p>
            <a href="" target="_blank">
                <i class="fa-solid fa-globe"></i>
                Ingrese aquí
            </a>
        </li>
        <li>
            <h4>
                Wiley Online Library
            </h4>
            <p>
                Base de datos multidisciplinaria Wiley Online Library alberga la colección más amplia y
                multidisciplinaria, en temas de vida, salud, ciencias físicas, ciencias sociales y humanidades.
            </p>
            <a href="" target="_blank">
                <i class="fa-solid fa-globe"></i>
                Ingrese aquí
            </a>
        </li>
        <li>
            <h4>
                IEEE Xplore
            </h4>
            <p>
                Base de datos de la OCDE, IEEE Xplore. Entregando el acceso al texto completo de más alta calidad de la
                literatura técnica del mundo en la ingeniería y la tecnología.
                Meeting number: 635111877
                Meeting password: XploreEspanol105
            </p>
            <a href="" target="_blank">
                <i class="fa-solid fa-globe"></i>
                Ingrese aquí
            </a>
        </li>
    </ul>
</article>