<article id="biblioteca-virtual">
    <h2>Biblioteca Virtual</h2>
    <p>En esta sección se presentan las base de datos en línea a texto completo de libros, revistas, tesis entre otros, así como las de aceso libre.</p>
    <div>
        <span>
            <input type="radio" name="bbdd" id="all" checked>
            <label for="all">Acceso en Campus</label>
        </span>
        <span>
            <input type="radio" name="bbdd" id="libre">
            <label for="libre">Acceso Libre</label>
        </span>
        <span>
            <input type="radio" name="bbdd" id="login">
            <label for="login">Acceso con sesi&oacute;n</label>
        </span>
    </div>
    <div class="servicios__article__biblioteca-virtual">
        <div class="biblioteca-virtual_bbdds">
            <template class="template-biblioteca-virtual-bbdd">
                <div class="biblioteca-bbdd">
                    <div class="bbdd-imagen">
                        <img src="" alt="">
                    </div>
                    <h4 class="bbdd-titulo">
                    </h4>
                    <div class="bbdd-contenido">
                    </div>
                    <div class="bbdd-items">
                        <span>
                            <i class="fa-solid"></i>
                        </span>
                        <a href="" class="bbdd-link">Acceder</a>
                    </div>
                </div>
            </template>
        </div>
    </div>
</article>