<article id="contacto">
    <h2>Contacto</h2>
    <div class="institucional__article__contacto">
        <div class="cards-personal">
            <template class="template-personal">
                <div class="card-personal">
                    <img src="" alt="" class="personal-foto">
                    <div class="card-info">
                        <div class="personal-nombre"></div>
                        <div class="personal-cargo"></div>
                        <div class="personal-correo">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</article>