<article id="directorio">
    <h2>Directorio</h2>
    <div class="institucional__article__directorio">
        <div class="cards-directorio">
            <template class="template-directorio">
                <div class="card-directorio">
                    <img src="" alt="" class="directorio-foto">
                    <div class="card-info">
                        <div class="directorio-nombre"></div>
                        <div class="directorio-personal-cargo"></div>
                        <div class="directorio-correo">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                        <div class="directorio-direccion">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-phone"></i>
                            <span class="directorio-telefono">
                            </span>
                            <span class="directorio-anexo"></span>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</article>