<article id="infonautas">
    <h2>Infonautas</h2>
    <img src="" alt="" class="img-prueba">
    <p>Brindamos capacitación a los usuarios interesados en conocer el uso de los buscadores del SIBUS y la Biblioteca Virtual.</p>
    <p>Las charlas se dictan todos los días a partir de las 9:00 hasta las 19:00 horas en la Sala de Procesos Técnicos (segundo piso del local de la Biblioteca Central)</p>

    <h3>Temas</h3>
    <ul class="list">
        <li>Determinación de tipo de búsqueda: genérica, específica o exploratoria.</li>
        <li>
            Elección correcta de términos de búsqueda: uso de tesauros, diccionarios y eliminación de artículos y preposiciones.
        </li>
        <li>Selección de fuentes de información: internet, catálogos de bibliotecas y bases de datos a texto completo.</li>
        <li>Desarrollo de estrategias de búsqueda: búsqueda simple, búsqueda avanzada o búsqueda temática.</li>
        <li>
            Evaluación de información a utilizar: relevancia del artículo y evaluación de artículos científicos.
        </li>
        <li>Uso de herramientas de fuentes de información: traductores, alertas, almacenamiento de información entre otros.</li>
    </ul>
</article>