<article id="informacion-general">
    <h2>Informaci&oacute;n General</h2>
    <div class="institucional__article__contenido">
        <img class="img-prueba" alt="" />
        <div class="informacion__contenido">
            <p>Los importantes cambios tecnol&oacute;gicos que caracterizan al mundo requieren de
                diversos
                elementos y recursos que brinden informaci&oacute;n de vanguardia y que preparen al ser
                humano
                adecuadamente para las diversas actividades que realizaran.</p>
            <p>En el marco de este cambio global, la Universidad de San Mart&iacute;n de Porres,
                mediante
                Resoluci&oacute;n Rectoral No.637-2007-CU-R-USMP, crea el Sistema de Bibliotecas de la
                USMP
                (SIBUS), que coordina el desarrollo arm&oacute;nico del acervo bibliogr&aacute;fico
                seg&uacute;n
                los requerimientos de los planes de estudios de sus ocho Facultades, dieciocho Escuelas
                Profesionales, siete Institutos y la Filial Norte - Chiclayo.</p>
        </div>
    </div>
    <div>
        <details>
            <summary>El SIBUS procura innovar y mejorar constantemente sus servicios mediante:</summary>
            <ul class="list">
                <li>Un buscador de la p&aacute;gina web, que permite revisar la colecci&oacute;n de libros,
                    tesis, revistas y audiovisuales las 24 horas del d&iacute;a</li>
                <li>Una colecci&oacute;n digital que suscribe la Universidad</li>
                <li>Martino, Gestor de Informaci&oacute;n quien acompa&ntilde;a al usuario en el proceso de
                    su formaci&oacute;n e investigaci&oacute;n universitaria.</li>
            </ul>
        </details>
        <h3>Misi&oacute;n de la Biblioteca</h3>
        <p>&ldquo;Brindar a los usuarios servicios &oacute;ptimos y de calidad, con personal calificado
            e identificado con los principios de la Universidad; actualizando constantemente sus
            recursos de informaci&oacute;n, empleando tecnolog&iacute;a de vanguardia&rdquo;.</p>
        <h3>Visi&oacute;n de la Biblioteca</h3>
        <p>&ldquo;Ser el sistema de informaci&oacute;n con mayor y mejor acceso a todas las fuentes de
            informaci&oacute;n disponibles en el &aacute;mbito acad&eacute;mico, en el marco de una
            excelente y destacada calidad en la atenci&oacute;n a nuestros usuarios, a trav&eacute;s de
            tecnolog&iacute;a de vanguardia y el mejor equipo de profesionales&rdquo;</p>
    </div>
</article>