
<article id="nuetra-coleccion">
    <h2>Colecci&oacute;n</h2>
    <div>
        <p>Facilitamos el acceso a la informaci&oacute;n cient&iacute;fica contenida en diversos
            soportes,para ello hemos dise&ntilde;ado productos y servicios de informaci&oacute;n de
            acuerdo
            a las necesidades de los usuarios.</p>
        <details>
            <summary>Nuestra colecci&oacute;n abarca temas de Econom&iacute;a, Administraci&oacute;n,
                Contabilidad,
                Finanzas, Arquitectura, Comunicaci&oacute;n, Turismo, Derecho, Educaci&oacute;n,
                Ciencias de la
                Salud, Humanidades, Ingenier&iacute;as, Relaciones Industriales y temas generales,
                disponibles
                en:
            </summary>
            <ul class="list">
                <li>Libros de texto, especializados y obras literarias</li>
                <li>Publicaciones de la USMP (libros y revistas)</li>
                <li>Tesis de pregrado y posgrado</li>
                <li>Proyectos de inversiones, planes de negocios y trabajos de investigaci&oacute;n</li>
                <li>Revistas especializadas</li>
                <li>Videos</li>
                <li>CD-ROM</li>
            </ul>
        </details>
        <details>
            <summary>Tenemos diversas &aacute;reas de servicio con personal calificado, que orienta al
                usuario en la
                b&uacute;squeda de la informaci&oacute;n, siendo estas:</summary>
            <ul class="list">
                <li>Buscador en l&iacute;nea</li>
                <li>Biblioteca Virtual (bases de datos a texto completo)</li>
                <li>Pr&eacute;stamo en Sala</li>
                <li>Pr&eacute;stamo a domicilio</li>
                <li>Pr&eacute;stamo interbibliotecario</li>
                <li>Salas grupales</li>
                <li>Orientaci&oacute;n al usuario</li>
                <li>Capacitaci&oacute;n de usuarios</li>
            </ul>
        </details>
    </div>
</article>