<article id="reglamento">
    <h2>Reglamento</h2>
    <div class="institucional__article__reglamento">
        <p>El presente reglamento constituye el conjunto de normas que regulan el uso y
        funcionamiento de las Bibliotecas que conforman el “Sistema de Bibliotecas de la
        Universidad de San Martin de Porres”.</p>

        <p>Este reglamento establece los derechos, obligaciones, sanciones y condiciones de uso
        de los recursos de información, y son de cumpliento obligatorio para todos los usuarios.</p>
    </div>
    <a href="">
        <span>
            Reglamento del SIBUS
        </span>
        <i class="fa-solid fa-download"></i>
    </a>
</article>