html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.header__barra {
  background-color: #bd1714;
  align-items: center;
  color: #fff;
  font-size: 16px;
  padding: 0.25rem 0;
}
.header__barra .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__barra .header__enlaces {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.header__barra .header__enlaces a {
  color: #fff;
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1rem;
}

.header__nav_hamburger {
  display: block;
  color: #6c757d;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__nav_hamburger {
    display: none;
  }
}

.header__nav_list {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  flex-direction: column;
  background-color: #202020;
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav_list {
    display: flex;
    position: relative;
    background-color: transparent;
    flex-direction: row;
    gap: 1rem;
    transform: translateY(0);
    width: auto;
  }
}
.header__nav_list.show {
  display: flex;
}
.header__nav_list ul {
  display: none;
  flex-direction: column;
  padding-left: 1rem;
}
.header__nav_list ul.show {
  display: flex;
}
@media (min-width: 768px) {
  .header__nav_list ul {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: #202020;
    padding-left: inherit;
    width: max-content;
  }
}
@media (min-width: 768px) {
  .header__nav_list ul ul {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
    transform: translateX(100%);
  }
}
.header__nav_list li {
  cursor: pointer;
  position: relative;
}
.header__nav_list li .fa-solid {
  float: right;
  color: #bd1714;
}
.header__nav_list li .fa-solid.rotate {
  transform: rotate(180deg);
}
.header__nav_list li:hover {
  color: #bd1714;
}
@media (min-width: 768px) {
  .header__nav_list li li .fa-solid {
    float: none;
    transform: rotate(-90deg);
  }
  .header__nav_list li li .fa-solid.rotate {
    transform: rotate(90deg);
  }
}
.header__nav_list a {
  color: #6c757d;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}
.header__nav_list a:hover {
  color: #bd1714;
}

footer {
  width: 100%;
  background-color: #202020;
}

.footer {
  padding: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}
.footer-content .navegacion {
  width: 100%;
  max-width: 100%;
}
.footer-content .navegacion .buscador {
  padding: 2rem 1rem;
  border-bottom: 1px solid #fff;
}
.footer-content .navegacion .buscador form {
  display: flex;
}
@media (min-width: 768px) {
  .footer-content .navegacion .buscador form {
    width: 30%;
  }
}
.footer-content .navegacion .buscador form input {
  padding: 0 10px;
  max-width: 100%;
  width: 100%;
}
.footer-content .navegacion .buscador form input:focus-visible {
  outline: none;
}
.footer-content .navegacion .buscador form button {
  padding: 5px;
  background-color: inherit;
  border: none;
  color: #fff;
}
.footer-content .navegacion .buscador form button:hover {
  color: #EF4429;
  cursor: pointer;
}
.footer-content .navegacion .enlaces {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #fff;
  gap: 1rem;
}
@media (min-width: 768px) {
  .footer-content .navegacion .enlaces {
    flex-direction: row;
  }
}
.footer-content .navegacion .enlaces > p {
  margin-bottom: 1rem;
  font-size: 12px;
  line-height: 2.4em;
  width: 100%;
}
.footer-content .navegacion .enlaces > ul {
  font-size: 11px;
  width: 100%;
}
.footer-content .navegacion .enlaces > ul li {
  margin-bottom: 12px;
}
.footer-content .navegacion .enlaces > ul li :hover {
  color: #EF4429;
}
.footer-content .navegacion .enlaces a {
  color: #fff;
}
.footer-content .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
@media (min-width: 768px) {
  .footer-content .social-media {
    border-left: 1px solid #fff;
    flex-direction: column;
    width: 90px;
  }
}
.footer-content .social-media span {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-content .social-media span a {
  font-size: 1.5rem;
  color: #fff;
}
.footer-content .social-media span a:hover {
  opacity: 0.5;
}

.footer-copy {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

/*# sourceMappingURL=styles.css.map */
