html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

a:focus, a:visited, a:active {
  outline: none;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

select {
  border: none;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  width: 100%;
}
select:hover {
  cursor: pointer;
}

input {
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  width: 100%;
}
input:focus {
  outline: none;
}

section h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #6c757d;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  section h2 {
    font-size: 3rem;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.contenido_principal .container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 50px;
  gap: 1rem;
}
@media (min-width: 768px) {
  .contenido_principal .container {
    grid-template-columns: 1fr 3fr;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.input-text {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}
.input-text:focus {
  outline: none;
}

.banner {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0;
}
.banner .container {
  width: 100%;
  height: 100%;
}

.img-prueba {
  display: block;
  width: 100%;
  height: 400px;
  background-color: #495057;
}

details {
  margin: 1rem;
}
details summary {
  background-color: #f0f0f0;
  border-radius: 3px;
  font-weight: 400;
  color: #6c757d;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
details summary:focus {
  outline: none;
}
details summary::marker {
  color: #bd1714;
}

.list {
  list-style: disc;
  margin-left: 1rem;
}
.list li {
  list-style: disc inside;
  color: #6c757d;
}
.list li::marker {
  color: #bd1714;
}

#routes a.active {
  color: #fff;
  background-color: #bd1714;
}

body {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
}
.header.header--hide {
  transform: translateY(-100%);
}

.header__barra {
  background-color: #bd1714;
  align-items: center;
  color: #fff;
  font-size: 16px;
  padding: 0.25rem 0;
}
.header__barra .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__barra .header__nombre_usmp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__barra .header__nombre_usmp img {
  width: 50px;
}
.header__barra .header__nombre_usmp span {
  font-size: 1rem;
  display: none;
}
@media (min-width: 768px) {
  .header__barra .header__nombre_usmp span {
    display: block;
  }
}
.header__barra .header__enlaces {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.2rem;
}
.header__barra .header__enlaces a {
  color: #fff;
}

.header__nav {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.header__nav_hamburger {
  display: block;
  color: #bd1714;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__nav_hamburger {
    display: none;
  }
}

.header__nav_list {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  max-height: 70vh;
  overflow: scroll;
  transform: translateY(100%);
}
@media (min-width: 768px) {
  .header__nav_list {
    display: flex;
    position: relative;
    background-color: transparent;
    flex-direction: row;
    gap: 1rem;
    transform: translateY(0);
    width: auto;
    overflow: initial;
    max-height: initial;
    height: initial;
  }
}
.header__nav_list.show {
  display: flex;
}
.header__nav_list .header__nav_list_title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}
.header__nav_list .header__nav_list_title .fa-solid {
  color: #bd1714;
}
@media (min-width: 768px) {
  .header__nav_list .header__nav_list_title {
    display: none;
  }
}
.header__nav_list ul {
  display: none;
  flex-direction: column;
  padding-left: 1rem;
}
.header__nav_list ul.show {
  display: flex;
}
@media (min-width: 768px) {
  .header__nav_list ul {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: #202020;
    padding-left: inherit;
    width: max-content;
  }
}
@media (min-width: 768px) {
  .header__nav_list ul ul {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
    transform: translateX(100%);
  }
}
.header__nav_list li {
  cursor: pointer;
  position: relative;
}
.header__nav_list li .fa-solid {
  float: right;
  color: #bd1714;
}
.header__nav_list li .fa-solid.rotate {
  transform: rotate(180deg);
}
.header__nav_list li:hover {
  color: #bd1714;
}
@media (min-width: 768px) {
  .header__nav_list li li .fa-solid {
    float: none;
    transform: rotate(-90deg);
  }
  .header__nav_list li li .fa-solid.rotate {
    transform: rotate(90deg);
  }
}
.header__nav_list a {
  color: #6c757d;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}
.header__nav_list a:hover {
  color: #bd1714;
  background-color: rgba(255, 255, 255, 0.1);
}

#inicio {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../img/facultad_ingenieria_acreditacion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#inicio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0;
}
#inicio .container {
  width: 100%;
  height: 100%;
}

.inicio__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 25%;
}
.inicio__center .inicio__title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .inicio__center .inicio__title {
    font-size: 4rem;
  }
}
.inicio__center form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
@media (min-width: 768px) {
  .inicio__center form {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.inicio__center form #inicio__buscador {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.inicio__center form #inicio__buscador:focus {
  outline: none;
}
.inicio__center form #inicio__options {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .inicio__center form #inicio__options {
    width: auto;
  }
}
.inicio__center form #inicio__options select {
  width: 100%;
  background-color: #fff;
}
@media (min-width: 768px) {
  .inicio__center form #inicio__options select {
    width: auto;
  }
}
.inicio__center form button[type=submit] {
  background-color: #bd1714;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.inicio__center form button[type=submit]:hover {
  background-color: #8f110f;
}
.inicio__center form button[type=button] {
  background-color: #202020;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.inicio__center form button[type=button]:hover {
  background-color: #070707;
}
.inicio__center form #inicio__dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 100%;
  max-width: 700px;
}
.inicio__center form #inicio__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.inicio__center form #inicio__dialog .inicio__dialog__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inicio__center form #inicio__dialog .inicio__dialog__content .dialog__content__header {
  display: flex;
  justify-content: space-between;
}
.inicio__center form #inicio__dialog .inicio__dialog__content [name=C3] {
  max-width: 50px;
}
.inicio__center form #inicio__dialog .inicio__dialog__content [name=C6] {
  width: auto;
}
.inicio__center form #inicio__dialog .inicio__dialog__content > div {
  display: flex;
}
.inicio__center .inicio__buscador__externo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .inicio__center .inicio__buscador__externo {
    justify-content: flex-start;
  }
}
.inicio__center .inicio__buscador__externo a {
  color: #6c757d;
  background-color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.inicio__center .inicio__buscador__externo a:hover {
  color: #fff;
  background-color: #bd1714;
}

#anuncios {
  padding: 50px 0;
}

.glider {
  scrollbar-width: none;
  position: relative;
}

.glider-prev, .glider-next {
  border-radius: 50%;
  padding: 0.5rem !important;
  border: none;
  cursor: pointer;
  color: #bd1714 !important;
}
.glider-prev:hover, .glider-next:hover {
  opacity: 0.5;
}

.glider-prev {
  left: 0 !important;
}

.glider-next {
  right: 0 !important;
}

#recursos {
  padding: 50px 0 0;
}

.recursos__list {
  display: flex;
  flex-wrap: wrap;
}

.recursos__card {
  border: 1px solid #202020;
  border-radius: 0.25rem;
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .recursos__card {
    width: calc(50% - 2rem);
  }
}
@media (min-width: 992px) {
  .recursos__card {
    width: calc(33.33% - 2rem);
  }
}
@media (min-width: 1200px) {
  .recursos__card {
    width: calc(25% - 2rem);
  }
}
.recursos__card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.recursos__card h3 {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #bd1714;
}
.recursos__card a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #bd1714;
  text-decoration: none;
}
.recursos__card a:hover {
  text-decoration: underline;
}
.recursos__card p {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #6c757d;
}

#contacta-biblioteca {
  padding: 50px 0;
}

.biblioteca__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.biblioteca__list > div {
  width: 100%;
}
@media (min-width: 768px) {
  .biblioteca__list > div {
    width: calc(50% - 2rem);
  }
}
@media (min-width: 992px) {
  .biblioteca__list > div {
    width: calc(33.33% - 2rem);
  }
}
@media (min-width: 1200px) {
  .biblioteca__list > div {
    width: calc(25% - 2rem);
  }
}
.biblioteca__list h3 {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #bd1714;
}
.biblioteca__list p {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #6c757d;
}

#institucional header {
  position: sticky;
}

.institucional__banner {
  background-image: url("../img/facultad_ingenieria_acreditacion.jpg");
  height: 200px;
}
.institucional__banner h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 75px;
}

.institucional__navegacion ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.institucional__navegacion li {
  display: block;
}
.institucional__navegacion a {
  display: block;
  color: #6c757d;
  background-color: #EBEAEA;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0.25rem;
}
.institucional__navegacion a:hover {
  color: #fff;
  background-color: #bd1714;
}

.institucional__main article {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.institucional__main article h2 {
  color: #bd1714;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.institucional__main article h3 {
  color: #bd1714;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0;
}
.institucional__main article p {
  color: #4A4A49;
}

.informacion__contenido {
  color: #4A4A49;
  margin-top: 2rem;
}
.informacion__contenido p {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .institucional__article-reverse-md {
    grid-row-start: 1;
  }
}

#reglamento a {
  color: #bd1714;
  background-color: #EBEAEA;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0.25rem;
}
#reglamento a:hover {
  color: #fff;
  background-color: #bd1714;
}

#contacto .cards-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
#contacto .cards-personal .card-personal {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contacto .cards-personal .card-personal .personal-foto {
  width: 100%;
  height: 300px;
  border-radius: 0.25rem;
}
#contacto .cards-personal .card-personal .card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #4A4A49;
  font-size: 1rem;
}
#contacto .cards-personal .card-personal .card-info .personal-nombre {
  color: #4A4A49;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

#directorio .cards-directorio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
#directorio .cards-directorio .card-directorio {
  width: 100%;
  max-width: 450px;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#directorio .cards-directorio .card-directorio .directorio-foto {
  width: 100%;
  height: 300px;
  border-radius: 0.25rem;
}
#directorio .cards-directorio .card-directorio .card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #4A4A49;
  font-size: 1rem;
}
#directorio .cards-directorio .card-directorio .card-info .directorio-nombre {
  color: #4A4A49;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  width: 100%;
  background-color: #202020;
}

.footer {
  padding: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}
.footer-content .navegacion {
  width: 100%;
  max-width: 100%;
}
.footer-content .navegacion .buscador {
  padding: 2rem 1rem;
  border-bottom: 1px solid #fff;
}
.footer-content .navegacion .buscador form {
  display: flex;
}
@media (min-width: 768px) {
  .footer-content .navegacion .buscador form {
    width: 30%;
  }
}
.footer-content .navegacion .buscador form input {
  padding: 0 10px;
  max-width: 100%;
  width: 100%;
}
.footer-content .navegacion .buscador form input:focus-visible {
  outline: none;
}
.footer-content .navegacion .buscador form button {
  padding: 5px;
  background-color: inherit;
  border: none;
  color: #fff;
}
.footer-content .navegacion .buscador form button:hover {
  color: #EF4429;
  cursor: pointer;
}
.footer-content .navegacion .enlaces {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #fff;
  gap: 1rem;
}
@media (min-width: 768px) {
  .footer-content .navegacion .enlaces {
    flex-direction: row;
  }
}
.footer-content .navegacion .enlaces > p {
  margin-bottom: 1rem;
  font-size: 12px;
  line-height: 2.4em;
  width: 100%;
}
.footer-content .navegacion .enlaces > ul {
  font-size: 11px;
  width: 100%;
}
.footer-content .navegacion .enlaces > ul li {
  margin-bottom: 12px;
}
.footer-content .navegacion .enlaces > ul li :hover {
  color: #EF4429;
}
.footer-content .navegacion .enlaces a {
  color: #fff;
}
.footer-content .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
@media (min-width: 768px) {
  .footer-content .social-media {
    border-left: 1px solid #fff;
    flex-direction: column;
    width: 90px;
  }
}
.footer-content .social-media span {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-content .social-media span a {
  font-size: 1.5rem;
  color: #fff;
}
.footer-content .social-media span a:hover {
  opacity: 0.5;
}

.footer-copy {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

/*# sourceMappingURL=styles.css.map */
