<article id="ultimas-adquisiciones">
    <h2>&Uacute;ltimas Adquisiciones</h2>
    <p>
        Presentamos los nuevos ingresos de libros, tesis , revistas y audiovisuales en el SIBUS.
        Con este servicio nuestros usuarios tienen acceso a información relevante y actualizada en diversas especialidades.
    </p>
    <div class="adquisiciones-flex">
        <a>
            <i class="fa-solid fa-book"></i>
            Libros
        </a>
        <a>
            <i class="fa-solid fa-graduation-cap"></i>
            Tesis
        </a>
        <a>
            <i class="fa-solid fa-newspaper"></i>
            Revistas
        </a>
        <a>
            <i class="fa-solid fa-photo-film"></i>
            Audiovisuales
        </a>
    </div>
</article>