<article id="historia">
    <h2>Historia</h2>
    <div class="institucional__article__contenido">
        <img class="img-prueba" alt="" />
        <div class="informacion__contenido">
            <p>En el a&ntilde;o 1962, el Instituto Peruano de Estudios Filos&oacute;fico-Sociales, a
                cargo de la
                Orden Dominicana, se convierte en la Universidad Particular San Mart&iacute;n de Porres
                gracias
                a las gestiones del Rvdo. Fray Vicente S&aacute;nchez Valer.</p>
            <p>La biblioteca se form&oacute; desde los primeros a&ntilde;os de la Universidad y su
                colecci&oacute;n fue increment&aacute;ndose gracias al aporte de la comunidad
                acad&eacute;mica
                de entonces. En octubre de 1965 se publica el primer n&uacute;mero del bolet&iacute;n
                Lumen.
                Cada ejemplar se vend&iacute;a a s/. 1.50 y los fondos recaudados se destinaban a la
                biblioteca.
            </p>
            <p>El 13 de abril de 1984 el Estatuto de la Universidad de San Mart&iacute;n de Porres,
                norma
                suprema de esta casa de estudios, seg&uacute;n el art&iacute;culo 270 de la Ley
                Universitaria
                23733 consider&oacute; que: "Cada Facultad contar&aacute; con una Biblioteca
                especializada en el
                &aacute;rea de su competencia".</p>
        </div>
    </div>
    <div class="institucional__article__contenido">
        <img class="img-prueba" alt="" />
        <div class="informacion__contenido institucional__article-reverse-md">
            <p>En el a&ntilde;o 1999 se fusionaron las bibliotecas de las facultades de la Ciudad
                Universitaria
                en Santa Anita, cre&aacute;ndose la Biblioteca Central. En el 2003 se dio la
                implementaci&oacute;n del Sistema de Bibliotecas de la USMP (SIBUS), lo cual
                permiti&oacute; la
                coordinaci&oacute;n entre las bibliotecas perif&eacute;ricas de las dem&aacute;s
                facultades,
                logrando la normalizaci&oacute;n de los procesos t&eacute;cnicos y ofreciendo a los
                usuarios un
                cat&aacute;logo en l&iacute;nea con la informaci&oacute;n bibliogr&aacute;fica de todas
                las
                colecciones de la Universidad.</p>
            <p>Finalmente, las funciones del SIBUS se regularizaron a trav&eacute;s de la
                Resoluci&oacute;n
                Rectoral N&deg; 2007 - CUR- USMP del 8 de Junio del 2007.</p>
            <p>Hoy el SIBUS cuenta con bibliotec&oacute;logos y personal t&eacute;cnico capacitado para
                brindar
                servicios integrales y modernos, recursos digitales, fomento de habilidades
                informativas, entre
                otros servicios que apuntan al desarrollo profesional y la investigaci&oacute;n en
                nuestra
                Universidad.</p>
            <p>*Ram&iacute;rez, J. (1987). Aspectos Hist&oacute;ricos de la Universidad de San
                Mart&iacute;n de
                Porres 1960-65. Tesis para optar el grado de licenciatura. USMP, Facultad de
                Educaci&oacute;n,
                Lima, Per&uacute;.</p>
        </div>
    </div>
</article>